@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Nunito+Sans:300,400,400i,600,600i,700,700i,800");
@import url("font-awesome/css/fontawesome-all.css");

html {
	font-family: "Nunito Sans", sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

header > .container {
	font-size: 20px;
}

.gallery {
	background: #eee;
}

.gallery-cell {
	/* width: 66%; */
	height: 200px;
	margin-right: 10px;
	background: #8c8;
	counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
	display: block;
	text-align: center;
	content: counter(gallery-cell);
	line-height: 200px;
	font-size: 80px;
	color: white;
}
